*{
  font-family: 'Poppins', sans-serif;
}

body{
  font-family: 'Poppins', sans-serif;
}
#myData{
  padding-left: 30px;
}
p{
  padding:10px;
}
  
.card-title{
  padding: 10px;
  font-weight: bold;
}
