*{
  font-family: 'Poppins', sans-serif;
}
*, *:before, *:after {box-sizing:  border-box !important;}
body{
  font-family: 'Poppins', sans-serif;
}
input[type=text] {
  width: 200px;
  height :40px;
  padding :10px;
  border-width: 2px;
  border-radius: 5px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
  width: 95%;
  border-width: 2px;
  border-radius: 5px;
}
.navbar{

}
#myData{
  padding: .5rem 1rem;
}
.container {
  margin:20px auto;
}
.container .data-card{
  margin-bottom: 30px;
}
.container .data-card .card-inner{
  padding: 15px;
  border: 1px solid rgba(0,0,0,.125);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background: #fff;
}
.container .data-card img{
  max-width: 200px;
  margin: auto;
  display: block;
}
p{
  padding:10px;
}
.card-title{
  padding: 10px;
  font-weight: bold;
}
.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}